# Rewrite GitHub URLs so git clone / remote use the right SSH host (and key).
# Include this from your ~/.gitconfig with:
#   [include]
#     path = ~/.config/git/github-urls.config
#
# Then: git clone git@github.com:acxiom/repo   -> uses github.com-acxiom (id_ed25519_acxiom)
#       git clone git@github.com:solaegis/repo  -> uses github.com-solaegis
#       etc. Adjust the path (acxiom, solaegis, …) to match your GitHub org/username.

[url "git@github.com-acxiom:acxiom/"]
	insteadOf = git@github.com:acxiom/
[url "git@github.com-solaegis:solaegis/"]
	insteadOf = git@github.com:solaegis/
[url "git@github.com-dadandlad:dadandlad/"]
	insteadOf = git@github.com:dadandlad/
[url "git@github.com-nuvent:nuvent/"]
	insteadOf = git@github.com:nuvent/
